---
tweet_id: "{{ tweet_id }}"
author: "{{ author }}"
author_name: "{{ author_name }}"
date: "{{ date }}"
url: "{{ url }}"
topic: "{{ topic }}"
tags: {{ tags }}
entities: {{ entities }}
summary: "{{ summary }}"
---

{{ text }}
